.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.titleh1 {
  font-family: "Lily Script One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #d18871;
}
.titleh6 {
  font-family: "Lily Script One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #d18871;
  visibility: hidden;
  height: 0px;
  margin: 0px;
}

.checkBoxSpan {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(123, 142, 117, 1);
  height: 22px;
}

.checkBox.input {
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  overflow-y: scroll;
}
.form::-webkit-scrollbar {
  width: 0; /* Para navegadores como Chrome, Safari e Edge */
  display: none;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.localSpan {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgba(123, 142, 117, 1);
  height: 22px;

  display: flex;
  align-items: center;
  flex-direction: column;
}
.line1 {
  width: 296px;
  border-top: 5px dotted #c9a397;
}
.containerPix {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 296px;
  margin-bottom: 40px;
}

@media screen and (max-width: 425px) {
  .content {
    height: 100vh;
  }

  .logo {
    width: 85%;
  }

  .linha {
    width: 85%;
  }

  .titleh1 {
    height: 0px;
    margin: 0px;
    visibility: hidden;
  }

  .titleh6 {
    visibility: visible;
    margin: 21px 0;
  }
}
