.label {
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #86b5b9;
  height: 22px;
}

.InputText {
  display: flex;
  flex-direction: column;
  width: 356px;
}

.input {
  border: 1px solid #ccc;
  font-family: "Poppins";
  color: #707070;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  transition: border-color 0.3s ease;
}
.input:focus {
  border-color: #ccc;
  outline: none;
}
