.circulo {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ecf0f1;
  z-index: 3;
  font-size: xx-large;
  border: solid 1px #86b5b9;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.itemLista {
  display: flex;
  align-items: center;
}

.retangulo {
  flex: 1;
  background-color: #ecf0f1;
  height: 40px;
  width: 245px;
  border-radius: 20px;
  margin-left: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f7aa95;
}
